<h1>Form</h1>

<form class="d-flex flex-column">
  <label for="nome">Nome</label>
  <input type="text" id="nome" name="nome" />
  <label for="cognome">Cognome</label>
  <input type="text" id="cognome" name="cognome" />
  <label for="password">Password</label>
  <input type="text" id="password" name="password" />
  <label for="conferma">Conferma Password</label>
  <input type="text" id="conferma" name="conferma" />
  <label for="genere">Genere</label>
  <input type="radio" id="genere" />Maschio
  <input type="radio" id="genere" />Femmina
  <label for="immagine">Immagine</label>
  <input type="file" id="immagine" name="immagine" />
  <label for="textarea">textarea</label>
  <textarea name="" id="textarea" name="textarea"></textarea>
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />
</form>
